<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <title>{{title}}</title>
    <script type="text/javascript">
        LAM.run([LAM],function(LAM){
            'use strict';
            var System = this;


            System
                .import(['/common'],System.MYCOMMON)
                .import([
                    '/Tools.class'
                    ,'/Tab.class'
                ],System.classPath,'.js?t='+System.app.t);
        });
    </script>



</head>
<#define _LAYOUTS_="{{LAM.LAYOUTS}}/default/include" />
<body class="h-percent-of100">
<div id="hidden_bnt" class="sectionBtn-A2 sectionFixed-A1">
    <span class="mb3"></span>
    <span class="mb3"></span>
    <span></span>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sectionSidebar-A1">
            <include tp-data="{}" file="_LAYOUTS_/inc_menu.html"></include>
        </div>
        <div class="col-md-10 sectionWrap-A4">
            <div class="p20">
                <div class="sectionPhoneTop-A1 clear none mb20">
                    <img class="L logo" src="{{IMAGE}}/imgs_LHH/logo.png" width="130" height="54" alt="">
                    <div class="sectionBtn-A2 R mt20 mr15">
                        <span class="mb3"></span>
                        <span class="mb3"></span>
                        <span></span>
                    </div>
                    <img class="R img" data-var="tpl" src="{{IMAGE}}/imgs_LHH/pics/img_01.gif" width="20" height="20" alt="">
                </div>
                <#include repeat="0" tp-data="{'name':'{{D.user.name}}','age':'{{D.user.age}}'}" delimiters="['{#','#}']"  file="_LAYOUTS_/inc_header.html" />
                <#include repeat="0" tp-data="{'list':'{{D.list}}'}"  file="{{LAM.LAYOUTS}}/default/include/inc_crumb.vue.html" />
                {{content}}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    LAM.wait([LAM,jQuery],function(LAM,$){
        'use strict';
        var System = this;
        LAM.use();
        System.Html.include($('include'));





        var DATE={
            'b_width':0,
            'b_height':0,
            '$hidden_bnt':null
        };

        var setSize=function(n){
            n=n || 0;
            var height=$(window).height();
            var width=$(window).width();
            DATE.b_width=width;
            DATE.b_height=height;
            $('.sectionSidebar-A1').height(height);
            $('.sectionList-A2').height($(window).height()-116);


        };



        $(function(){




            $('.sectionList-A2 dd').on('click',function(){
                $(this).find('.sectionList-A1').toggle();
            });

            setSize();
            $(window).resize(function() {
                setSize();
            });
            $(window).scroll(function() {
                setSize($(window).scrollTop());
            });
            var $sectionWrapA4=$('.sectionWrap-A4');
            var $hidden_bnt=$('#hidden_bnt');

            $('#hidden_bnt').on('click',function(){
                if(!this.flag){
                    $sectionWrapA4.animate({"left":"47px"});
                    $hidden_bnt.animate({"left":"20px"});

                    this.flag = true;
                }else{

                    $sectionWrapA4.animate({"left":"220px"});
                    $hidden_bnt.animate({"left":"192px"});
                    this.flag = false;
                }


            });
        });



    },300);
</script>
</body>
</html>
