<div class="sectionBox sectionTitle-A2"><h2>喜鹊筑家旗舰店</h2></div>
<div class="sectionScroll sectionList-A2 sectionIcon-B1 sectionFont-A1">
    <dl>
        <dd>
            <div class="title">
                <i class="I1 a-1"></i><a href="javascript:void(0);">我购买的服务</a>
            </div>
        </dd>
        <dd>
            <div class="title">
                <i class="I1 a-2"></i><a href="javascript:void(0);">交易管理</a>
            </div>
            <div class="sectionList-A1 sectionList-A1-3 none">
                <ul>
                    <li><a href="###">卖家地图</a></li>
                    <li><a href="###">我家要装修</a></li>
                    <li><a href="###">格致商城</a></li>
                    <li><a href="###">格致社区</a></li>
                </ul>
            </div>
        </dd>
        <dd>
            <div class="title">
                <i class="I1 a-3"></i><a href="javascript:void(0);">宝贝管理</a>
            </div>
            <div class="sectionList-A1 sectionList-A1-3 none">
                <ul>
                    <li><a href="###">卖家地图</a></li>
                    <li><a href="###">我家要装修</a></li>
                    <li><a href="###">格致商城</a></li>
                    <li><a href="###">格致社区</a></li>
                </ul>
            </div>
        </dd>
        <dd>
            <div class="title">
                <i class="I1 a-4"></i><a href="javascript:void(0);">样板间管理</a>
            </div>
            <div class="sectionList-A1 sectionList-A1-3 none">
                <ul>
                    <li><a href="{{LAM.INDEX}}room/list">案例列表</a></li>
                    <li><a href="{{LAM.INDEX}}room/detail">楼盘户型管理</a></li>
                    <li><a href="{{LAM.INDEX}}room/release">发布</a></li>
                    <li><a href="{{LAM.INDEX}}room/aa">aa</a></li>
                </ul>
            </div>
        </dd>
        <dd>
            <div class="title">
                <i class="I1 a-5"></i><a href="javascript:void(0);">店铺管理</a>
            </div>
            <div class="sectionList-A1 sectionList-A1-3 none">
                <ul>
                    <li><a href="{{LAM.INDEX}}shop/choiceTemplate">选择模版</a></li>
                    <li><a href="{{LAM.INDEX}}shop/empower">商品授权</a></li>
                    <li><a href="{{LAM.INDEX}}shop/newRoom">新建房间</a></li>
                    <li><a href="{{LAM.INDEX}}shop/shopList">商品列表</a></li>
                    <li><a href="{{LAM.INDEX}}shop/loft">楼盘</a></li>
                </ul>
            </div>
        </dd>
        <dd>
            <div class="title">
                <i class="I1 a-6"></i><a href="javascript:void(0);">消息中心</a>
            </div>
            <div class="sectionList-A1 sectionList-A1-3 none">
                <ul>
                    <li><a href="###">卖家地图</a></li>
                    <li><a href="###">我家要装修</a></li>
                    <li><a href="###">格致商城</a></li>
                    <li><a href="###">格致社区</a></li>
                </ul>
            </div>
        </dd>
        <dd>
            <div class="title">
                <i class="I1 a-7"></i><a href="javascript:void(0);">品牌经销商</a>
            </div>
            <div class="sectionList-A1 sectionList-A1-3 none">
                <ul>
                    <li><a href="###">卖家地图</a></li>
                    <li><a href="###">我家要装修</a></li>
                    <li><a href="###">格致商城</a></li>
                    <li><a href="###">格致社区</a></li>
                </ul>
            </div>
        </dd>
        <dd>
            <div class="title">
                <i class="I1 a-8"></i><a href="###">营销中心</a>
            </div>
            <div class="sectionList-A1 sectionList-A1-3 none">
                <ul>
                    <li><a href="###">卖家地图</a></li>
                    <li><a href="###">我家要装修</a></li>
                    <li><a href="###">格致商城</a></li>
                    <li><a href="###">格致社区</a></li>
                </ul>
            </div>
        </dd>
        <dd>
            <div class="title">
                <i class="I1 a-9"></i><a href="###">软件服务</a>
            </div>
            <div class="sectionList-A1 sectionList-A1-3 none">
                <ul>
                    <li><a href="###">卖家地图</a></li>
                    <li><a href="###">我家要装修</a></li>
                    <li><a href="###">格致商城</a></li>
                    <li><a href="###">格致社区</a></li>
                </ul>
            </div>
        </dd>
        <dd>
            <div class="title">
                <i class="I1 a-10"></i><a href="###">客户服务</a>
            </div>
            <div class="sectionList-A1 sectionList-A1-3 none">
                <ul>
                    <li><a href="###">卖家地图</a></li>
                    <li><a href="###">我家要装修</a></li>
                    <li><a href="###">格致商城</a></li>
                    <li><a href="###">格致社区</a></li>
                </ul>
            </div>
        </dd>
        <dd class="last">
            <div class="title">
                <i class="I1 a-11"></i><a href="###">友情链接</a>
            </div>
            <div class="sectionList-A1 sectionList-A1-3">
                <ul>
                    <li><a href="###">卖家地图</a></li>
                    <li><a href="###">我家要装修</a></li>
                    <li><a href="###">格致商城</a></li>
                    <li><a href="###">格致社区</a></li>
                </ul>
            </div>
        </dd>
    </dl>
</div>

<script type="text/javascript">
    LAM.run([LAM,jQuery],function(LAM,$) {
        'use strict';
        var System = this;

        System.setMenuSelectedStatus=function(href){
            $('.sectionList-A1-3 li a[href*="'+href+'"]')
                .closest('li').addClass('cur')
                .closest('.sectionList-A1-3').show()
                .closest('dd').addClass('hover');
        };

        System.setMenuSelectedStatus(System.get('r'));
    });
</script>