<#define __IMG__="{{LAM.IMAGE}}/imgs_LHH" />
<#define __IMG_S_W="15" />
<div class="sectionTop-A2 clear mb10 p-rel">
    <div class="L">
        <div class="sectionNav-A1 sectionFloat-A1 top8 pl5 sectionFont-A2">
            <ul class="clear">
                <li class="A I1 b-1 mr20">
                    <i>3</i>
                </li>
                <li class="B I1 b-2 mr20">
                    <div class="sectionShowBox-A1 none">
                        <div class="sectionArrow-A1 sectionArrow-double-A1 sectionArrow-double-A1-1"><i class="A"></i><i class="B"></i></div>
                        <div class="sectionBox sectionTitle-A sectionTitle-A1 sectionTitle-A1-1 sectionTitle-A1-5">
                            <span class="mr10 ml10 cur myli">收件箱</span>
                            <span class="myli">其他（2）</span>
                            <div class="more">
                                <a href="###" class="linkBlue">发送新信息</a>

                            </div>
                        </div>
                        <div class="js_Block_A1">
                            <div class="sectionBorder-A1 sectionBorder-pb0">
                                <div class="sectionBox-A3 sectionBox-A3-1">
                                    <div class="p10 clear">
                                        <div class="L mr12"><img src="__IMG__/li1.png" width="__IMG_S_W" height="__IMG_S_W" alt=""></div>
                                        <div class="sectionBox-A2">
                                            <div class="sectionBox sectionTitle-A sectionTitle-A1 sectionTitle-A1-3">
                                                <h2>乌鸦-lucian</h2>
                                                <div class="more sectionIcon-A1 sectionIcon-A2">
                                                    <i></i>
                                                </div>
                                                <div class="sectionMessage-A2 none">
                                                    <div class="sectionArrow-A1 sectionArrow-A1-2"><i class="down"></i></div>
                                                    <p>标记为未读</p>
                                                </div>
                                            </div>
                                            <p>恭喜你获得免费洗20张照片的机会...</p>
                                            <p class="date">2014-06-20 17:25</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sectionBorder-A1 sectionBorder-pb0">
                                <div class="sectionBox-A3 sectionBox-A3-1">
                                    <div class="p10 clear">
                                        <div class="L mr12"><img src="__IMG__/li1.png" width="__IMG_S_W" height="__IMG_S_W" alt=""></div>
                                        <div class="sectionBox-A2">
                                            <div class="sectionBox sectionTitle-A sectionTitle-A1 sectionTitle-A1-3">
                                                <h2>乌鸦-lucian</h2>
                                                <div class="more sectionIcon-A1 sectionIcon-A2">
                                                    <i></i>
                                                </div>
                                                <div class="sectionMessage-A2 none">
                                                    <div class="sectionArrow-A1 sectionArrow-A1-2"><i class="down"></i></div>
                                                    <p>标记为未读</p>
                                                </div>
                                            </div>
                                            <p>恭喜你获得免费洗20张照片的机会...</p>
                                            <p class="date">2014-06-20 17:25</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sectionBorder-A1 sectionBorder-pb0">
                                <div class="sectionBox-A3 sectionBox-A3-1">
                                    <div class="p10 clear">
                                        <div class="L mr12"><img src="__IMG__/li1.png" width="__IMG_S_W" height="__IMG_S_W" alt=""></div>
                                        <div class="sectionBox-A2">
                                            <div class="sectionBox sectionTitle-A sectionTitle-A1 sectionTitle-A1-3">
                                                <h2>乌鸦-lucian</h2>
                                                <div class="more sectionIcon-A1 sectionIcon-A2">
                                                    <i></i>
                                                </div>
                                                <div class="sectionMessage-A2 none">
                                                    <div class="sectionArrow-A1 sectionArrow-A1-2"><i class="down"></i></div>
                                                    <p>标记为未读</p>
                                                </div>
                                            </div>
                                            <p>恭喜你获得免费洗20张照片的机会...</p>
                                            <p class="date">2014-06-20 17:25</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="js_Block_A1 none">
                            <div class="sectionBorder-A1 sectionBorder-pb0">
                                <div class="sectionBox-A3 sectionBox-A3-1">
                                    <div class="p10 clear">
                                        <div class="L mr12"><img src="__IMG__/li1.png" width="__IMG_S_W" height="__IMG_S_W" alt=""></div>
                                        <div class="sectionBox-A2">
                                            <div class="sectionBox sectionTitle-A sectionTitle-A1 sectionTitle-A1-3">
                                                <h2>乌鸦-lucian</h2>
                                                <div class="more sectionIcon-A1 sectionIcon-A2">
                                                    <i></i>
                                                </div>
                                                <div class="sectionMessage-A2 none">
                                                    <div class="sectionArrow-A1 sectionArrow-A1-2"><i class="down"></i></div>
                                                    <p>标记为未读</p>
                                                </div>
                                            </div>
                                            <p>恭喜你获得免费洗20张照片的机会...</p>
                                            <p class="date">2014-06-20 17:25</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>






                        <div class="sectionBorder-A1 sectionBorder-A1-1 sectionText-A2 sectionText-A2-1">
                            <a href="###" class="linkGrey">没有新信息</a>
                        </div>
                        <div class="sectionText-A2 bg-grey">
                            <a href="###" class="linkBlue">查看全部信息</a>
                        </div>

                    </div>
                </li>
                <li class="C I1 b-3">
                    <div class="sectionShowBox-A1 none">
                        <div class="sectionArrow-A1 sectionArrow-double-A1 sectionArrow-double-A1-1"><i class="A"></i><i class="B"></i></div>
                        <div class="sectionBox sectionTitle-A sectionTitle-A1 sectionTitle-A1-1">
                            <h2>通知</h2>
                            <div class="more">
                                <a href="###" class="linkBlue mr10">设置</a>
                                <a href="###" class="linkBlue">清除全部通知</a>

                            </div>
                        </div>
                        <div class="sectionBorder-A1">
                            <div class="p10">
                                <div class="sectionBox sectionTitle-A sectionTitle-A1 sectionTitle-A1-2">
                                    <h2>店铺公告</h2>
                                    <div class="more sectionIcon-A1 sectionIcon-A1-4">
                                        <a href="###" class="icon"></a>
                                    </div>
                                </div>
                                <div class="sectionCms sectionCms-0 sectionCms-A2">
                                    新旺铺新功能，店铺实验室上线通知！ 通过A/B测试、定投的功能帮助卖家进行旺铺装修展示，帮助卖家决策、提升转化率。 只要你是旺铺专业版并且你使用了新模板，
                                    那么亲，还等什么，快来研究一下吧。
                                    2014-06-20 17:25
                                </div>
                            </div>

                        </div>
                        <div class="sectionBorder-A1 sectionBorder-A1-1 sectionText-A2 sectionText-A2-1">
                            <a href="###" class="linkGrey">没有新信息</a>
                        </div>
                        <div class="sectionText-A2 bg-grey">
                            <a href="###" class="linkBlue">所有通知</a>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="R">
        <div class="sectionSearch-A1 sectionForm-A2">
            <input type="text" class="text bg none pl35" placeholder="">
            <i title="click here"></i>
        </div>
        <div class="L sectionBox-A1 mr10 p-rel z1 js_showBoxA1">
            <div class="p5">
                <img class="mr5" data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/img_01.gif" width="20" height="20" alt=""><span>{#name#}&nbsp; {#age#}</span>
            </div>
            <div class="sectionShowBox-A1 sectionShowBox-A1-1 none">
                <div class="sectionArrow-A1 sectionArrow-double-A1 sectionArrow-double-A1-1 sectionArrow-double-A1-1-1"><i class="A"></i><i class="B"></i></div>
                <div class="sectionBox sectionTitle-A sectionTitle-A3">
                    <h2>更改登录帐号：</h2>
                </div>
                <div class="sectionBox-A4 clear mb2">
                    <div class="L mr12"><img src="" width="18" height="18" alt=""></div>
                    <div class="sectionBox-A2 over-h">
                        <p>喜鹊筑家旗舰店</p>
                    </div>
                </div>
                <div class="sectionBox-A4 clear mb2">
                    <div class="L mr12"><img src="" width="18" height="18" alt=""></div>
                    <div class="sectionBox-A2 over-h">
                        <p>喜鹊筑家旗舰店</p>
                    </div>
                </div>
                <div class="sectionBox-A4 clear mb2">
                    <div class="L mr12"><img src="" width="18" height="18" alt=""></div>
                    <div class="sectionBox-A2 over-h">
                        <p>喜鹊筑家旗舰店</p>
                    </div>
                </div>

                <div class="sectionList-A1 sectionList-A1-1">
                    <div class="p10">
                        <ul class="mb5">
                            <li><a href="###">创建新店铺</a></li>
                            <li><a href="###">管理店铺</a></li>
                        </ul>
                        <ul class="mb5">
                            <li><a href="###">个人中心</a></li>
                            <li><a href="###">设置</a></li>
                            <li><a href="index.html?r=site/login">退出</a></li>
                        </ul>
                        <ul class="mb5">
                            <li><a href="###">帮助中心</a></li>
                            <li><a href="###">报告问题</a></li>
                        </ul>

                    </div>
                </div>



            </div>
        </div>
        <div class="L sectionText-A1 sectionText-A1-1">
            <a href="###">浏览我的店铺</a>
        </div>

    </div>
</div>


<script type="text/javascript">
    LAM.run([jQuery],function($) {
        'use strict';
        var System = this;
        var tools=new System.Tools();

        /**
         *头部分区域
         *
         */
        new System.Tab({
            'list':$('.sectionTitle-A1-5 .myli'),
            'event':'click',
            'class':'cur',
            'block':$('.js_Block_A1'),
            'fn':function(obj){
                obj.current.block.each(function(i){
                    if(obj.this_index==i){
                        $(this).show();
                    }else{
                        $(this).hide();
                    }
                });

            }
        }).run();

        $('.sectionTitle-A1-3 .sectionIcon-A2 i').hover(function(){
            $(this).addClass('hover');
            $(this).parents('.sectionTitle-A1-3').find('.sectionMessage-A2').show();
        },function(){
            $(this).removeClass('hover');
            $(this).parents('.sectionTitle-A1-3').find('.sectionMessage-A2').hide();
        }).toggle(function(){
            $(this).addClass('cur');
            $(this).parents('.sectionTitle-A1-3').find('.sectionMessage-A2 p').text('标记为已读');
        },function(){
            $(this).removeClass('cur');
            $(this).parents('.sectionTitle-A1-3').find('.sectionMessage-A2 p').text('标记为未读');
        });




        /**
         *头部分搜索框的滑动交互效果
         *
         */

        $('.sectionSearch-A1 i').on('click',function(){
            if(!this.flag){
                $(this).parent().find('.bg').animate({"width":"200px"}).show();
                $(this).addClass('B').animate({"right":"170px"});
                this.flag = true;
            }else{
                $(this).parent().find('.bg').css({"width":0}).hide();
                $(this).removeClass('B').css({"right":"12px"});
                this.flag = false;

            }


        });

        /**
         *   鼠标hover时下面的隐藏模块显示,鼠标移除隐藏模块时模块恢复隐藏
         *
         */
        tools.hover_next_box_show('.js_showBoxA1','.sectionShowBox-A1');


        tools.set_whole_screen_size({
            '$div':$('.js_mapWrap'),
            'h':true,
            'w':true,
            'wSize':$('.sectionTitle-A12').length,
            'hSize':200
        });
    });
</script>