<script type="text/html" compiler="jQuery">
    <div class="sectionCrumb-A1 mb20">
        <ul class="clear">
            <% var len=list.length;%>
            <%if(len){%>
                <%for(var i=0;i < len;i++){%>
                    <%var data = list[i];%>
                    <%if(data.href){%>
                        <li><a title="<%=data.title%>" href="<%=data.href%>" class="linkBlue"><%=data.name%></a>&nbsp;&gt;&nbsp;</li>
                    <%}else{%>
                        <li><strong><%=data.name%></strong></li>
                    <%}%>
                <%}%>
            <%}%>
        </ul>
    </div>
</script>