<#import path="/Tab.class" root="{{LAM.classPath}}" />
<ul class="list sectionFloat clearfix">
	<li class="cur">111</li>
	<li>222</li>
	<li>333</li>
</ul>
<div class="block">{{content}}</div>
<div class="block hide">22222</div>
<div class="block hide">33333</div>


<script type="text/javascript">


	LAMJS.run(function() {
		'use strict';
		var System=this;

		new System.Tab({
			'list':'.list li',
			'event':{'hover':'cur'},
			'block':$('.block'),
			'fn':function(obj){
				var index=obj.this_index;
				obj.current.block.hide();
				obj.current.block.eq(index).show();

			}
		}).run();
	},50);
</script>