<script type="text/html" compiler="jQuery">
<% for(var i=0,len=list.length;i < len;i++){%>
<div class="sectionBox-A10 sectionBox-A10-2 sectionFloat-A1">
    <ul class="p10 clear">
        <li class="col-1">
            <img class="ml5" data-var="tpl" src="{{LAM.IMAGE}}/imgs_LHH/pics/img_07.jpg" width="100%" height="100%" alt="">
        </li>
        <li class="col-2">
            <div class="sectionBox-A30 sectionBox-A30-1 ml20">
                <div class="sectionTitle-A6 mb10">
                    <h2>拥有浓厚复古色彩的以色列家居</h2>
                </div>
                <div class="sectionText-A3">
                    <p class="grey">类型： 家装设计</p>
                    <p class="grey">风格：
                    <% var style = list[i]['style'].trim().split(',');%>
                        <% for(var j =0,len2=style.length;j < len2;j++){%>
                        <% if(j>0){%>|<%}%>
                        <%=style[j]%>
                        <% }%>
                    </p>
                    <p class="grey">图片数量：<strong class="linkRed">0</strong></p>
                    <p class="grey">设计师：<%=list[i]['name']%></p>

                </div>
            </div>
        </li>
        <li class="col-3 pt20">
            <div class="sectionBox-A13 sectionBox-A13-1 auto js_sectionBoxA13">
                <a href="###" class="i-1"></a>
                <a href="###" class="i-2"></a>
                <a href="###" class="i-3"></a>
                <a href="###" class="i-4"></a>
            </div>
        </li>
        <li class="col-7 pt20">2014-07-21<br>15:30</li>
        <li class="col-8 pt20">
            <div class="sectionBox-A14 linkBlue">
                <a href="###">编辑</a>
                <a href="###">删除</a>
            </div>

        </li>
    </ul>
</div>
<% }%>
</script>

<script type="text/javascript">

    LAM.run(function() {
        'use strict';
        var System = this;
        var tools = new System.Tools();
        $(function(){

            $('.js_sectionBoxA13 a').bind('click',function(event){
                switch($(event.target).attr('class')){
                    case 'i-1'	:
                        tools.move_next_prev_first_last({
                            '$event'  :$(event.target),
                            'parent': '.sectionBox-A10',
                            'chose':  'first'
                        });
                        break;
                    case 'i-2'	:
                        tools.move_next_prev_first_last({
                            '$event'  :$(event.target),
                            'parent': '.sectionBox-A10',
                            'chose':  'prev'
                        });
                        break;
                    case 'i-3':
                        tools.move_next_prev_first_last({
                            '$event'  :$(event.target),
                            'parent': '.sectionBox-A10',
                            'chose':  'next'
                        });
                        break;
                    case 'i-4'	:
                        tools.move_next_prev_first_last({
                            '$event'  :$(event.target),
                            'parent': '.sectionBox-A10',
                            'chose':  'last'
                        });
                        break;

                    default:
                        alert("Error");
                }
            });
        });
    });

</script>