@charset "utf-8";
label{display: inline;font-weight: normal;}
input[type="radio"], input[type="checkbox"]{margin: 0;}
.tree-dir .level1,
.tree-dir .level1-end,
.tree-dir .level2,
.tree-dir .level2-end,
.tree-dir .level3,
.tree-dir .level3-end,
.tree-dir .level2-end .level3,
.tree-dir .level2-end .level3-end {background: url(../images/imgs_LHH/tree.png) no-repeat}

.tree-dir .level1 {
    background-position: -280px 0
}

.tree-dir .level1-end {
    background: 0 0
}

.tree-dir .level2 {
    background-position: -240px -25px
}

.tree-dir .level2-nochild {
    background-position: -200px -50px
}

.tree-dir .level2-end {
    background-position: -160px -75px
}

.tree-dir .level3 {
    background-position: -120px -100px
}

.tree-dir .level3-end {
    background-position: -80px -125px
}

.tree-dir .level2-end .level3 {
    background-position: -40px -150px
}

.tree-dir .level2-end .level3-end {
    background-position: 0 -175px
}

.tree-dir {
    padding: 6px 0 6px 16px;
    color: #666;
    font-size: 12px;
    line-height: 1.5
}

.tree-dir li {
    line-height: 25px;
    vertical-align: top
}

.tree-dir .level2 {
    padding: 0 0 0 21px
}

.tree-dir .level2 ul {
    margin-left: -21px
}

.tree-dir .level3 {
    padding: 0 0 0 41px;
    color: #666
}

.tree-dir .chk-wrap input,.tree-dir .chk-wrap label {
    vertical-align: middle;
}

.tree-dir .chk-wrap {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 15px;
    margin: 0 26px 0 0;
    padding: 5px 0;
    line-height: 15px
}

.tree-dir .chk-wrap input {
    width: 13px;
    height: 13px;
    margin-right: 5px
}

.disabled {
    color: #999
}

.tree-dir .highlight label {
    padding: 2px 4px;
    background: #aaa;
    color: #fff
}

.tree-dir .bold,
.tree-dir .bold label{
    font-weight: 700
}

.tree-dir .pop-refund-bd a {
    color: #0079c2;
    text-decoration: none
}

.tree-dir .pop-refund-bd a:hover {
    color: #f60;
    text-decoration: none
}

.tree-dir .pop-refund {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    vertical-align: middle
}

.tree-dir .pop-refund .blue {
    color: #0079c2;
    cursor: pointer
}

.tree-dir .pop-refund .connector,.tree-dir .pop-refund-bd {
    position: absolute;
    left: -30px
}

.tree-dir .pop-refund .connector {
    display: block;
    top: 15px;
    width: 95px;
    height: 3px
}

.tree-dir .pop-refund-bd {
    top: 18px;
    width: 212px;
    height: 109px;
    padding: 10px 14px;
    border: 2px solid #70b5d6;
    background: #fff;
    color: #666;
    font-size: 12px;
    line-height: 1.5
}

.tree-dir .pop-refund-bd .arrow-up {
    position: absolute;
    margin: -18px 0 0 32px;
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: #fff #fff #70b5d6;
    font-size: 0;
    line-height: 0
}

.tree-dir .pop-refund-bd p input,.tree-dir .pop-refund-bd p span,.tree-dir .pop-refund-bd p button,.tree-dir .pop-refund-bd p a {
    vertical-align: middle
}

.tree-dir .pop-refund-bd p {
    height: 18px;
    margin: 3px 0 0;
    padding: 3px 0
}

.tree-dir .pop-refund-bd p span {
    color: #999
}

.tree-dir .pop-refund-bd p .red {
    color: #fc0000
}

.tree-dir .pop-refund-bd .ipt-wrap {
    height: 32px
}

.tree-dir .pop-refund-bd .ipt-wrap input {
    width: 92px;
    height: 24px;
    margin: 0 15px 0 0;
    padding: 3px;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 22px
}

.tree-dir .pop-refund-bd .ipt-wrap input:focus {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6)
}

.tree-dir .pop-refund-bd .btn-wrap {
    height: 25px;
    margin: 10px 0 0
}

.tree-dir .pop-refund-bd .btn-wrap .btn {
    width: 66px;
    height: 23px;
    margin: 0 10px 0 0;
    border: 1px solid #9ba3a5;
    color: #494f50;
    font-size: 14px;
    font-weight: bold\9;
    font-family: \5fae\8f6f\96c5\9ed1;
    text-align: center
}