@charset "utf-8";
/* CSS Document */
/*.list-group li{cursor: pointer;}*/
.list-group-item.p-active,
.list-group-item.p-active:hover,
.list-group-item.p-active:focus {
    z-index: 2;
    color: #fff;
    background-color: #3167ca;
    border-color: #428bca;
}
.list-group-item.hover,
.list-group-item.hover:hover,
.list-group-item.hover:focus {
    z-index: 2;
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}