<script type="text/javascript">
    LAM.run([jQuery],function($) {
        'use strict';
        var System = this;
        System
            .import([
                '/PopupLayer.class'
            ], System.classPath)
            .import([
                '/layer-v3.1.1/layer/layer.js'
            ], System.PLUGINS, null, {xhr: false});
    });
</script>
<!--popupLayer1 begin-->
<!-- ============================================================================ -->
<div class="sectionPopupLayer-A1 sectionPopupLayer-A1-1 js_sectionPopupLayerA1 border sectionShadow-A4 none">
    <div class="sectionBox sectionTitle-A sectionTitle-A11">
        <h2>录入改结构后户型</h2>
        <div class="more sectionIcon-A4">
            <i class="myclose js_sectionPopupLayerA1Close"></i>
        </div>
    </div>
    <div class="content">
        <div class="p30 js_sectionPopupLayerA1_content">
            <div class="sectionWrap-A13 sectionText-A3">
                <div class="sectionForm-A1 sectionForm-A1-1">
                    <ul>
                        <li class="clear mb10">
                            <label class="L">户型图：<span class="warning">*</span></label>
                            <div class="sectionBox-A8 sectionBox-A8-2 L">
                                <div class="border">
                                    <img src="" width="" height="" alt="">
                                    <div class="p10">
                                        上传户型图
                                    </div>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="sectionForm-A1-1 mb10">
                    <ul>
                        <li class="clear button-A">
                            <label class="L"></label>
                            <input class="btn btn-default L mr5 ml5" type="button" value="上传户型图">
                            <div class="sectionMessage-A1 sectionMessage-A1-1 L">
                                <p class="border">
                                    B2户型图  户型：2室2厅1厨1卫  面积：89M2
                                </p>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="sectionForm-A1 sectionForm-A1-1 mb15">
                    <ul>
                        <li class="clear mb5">
                            <label class="L">户型名称：<span class="warning">*</span></label>
                            <input type="text" class="text name L" value="">
                        </li>
                        <li class="clear mb5">
                            <label class="L">户型：</label>
                            <select class="L w-40">
                                <option value=""></option>
                            </select>
                            <label class="L w-auto ml10 grey">室</label>
                            <select class="L ml5 w-40">
                                <option value=""></option>
                            </select>
                            <label class="L w-auto ml10 grey">厅</label>
                            <select class="L ml5 w-40">
                                <option value=""></option>
                            </select>
                            <label class="L w-auto ml10 grey">厨</label>
                            <select class="L ml5 w-40">
                                <option value=""></option>
                            </select>
                            <label class="L w-auto ml10 grey">卫</label>
                            <select class="L ml5 w-40">
                                <option value=""></option>
                            </select>
                            <label class="L w-auto ml10 grey">阳台</label>

                        </li>
                        <li class="clear mb5">
                            <label class="L">户型：<span class="warning">*</span></label>
                            <input type="text" class="text name L" value="">
                        </li>
                        <li class="textarea clear mb10">
                            <label class="L">改后户型分析：</label>
                            <textarea class="L"></textarea>

                        </li>


                    </ul>
                </div>
                <div class="clear mb10 sectionForm-A1 sectionForm-A2 ml50">
                    <button type="submit" class="btn save L mr15 js_saveButton">录入户型</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="sectionTransparent-A1 js_sectionTransparentA1 none"></div>
<!-- ============================================================================ -->
<!--popupLayer end-->


<!--popupLayer2 begin-->
<!-- ============================================================================ -->
<div class="sectionPopupLayer-A1 sectionPopupLayer-A1-1 js_sectionPopupLayerA2 border sectionShadow-A4 none">
    <div class="sectionBox sectionTitle-A sectionTitle-A11">
        <h2>录入改结构后户型</h2>
        <div class="more sectionIcon-A4">
            <i class="myclose js_sectionPopupLayerA1Close"></i>
        </div>
    </div>
    <div class="content">
        <div class="p30 js_sectionPopupLayerA1_content">
            <div class="sectionWrap-A13 sectionText-A3">
                <div class="sectionForm-A1 sectionForm-A1-1">
                    <ul>
                        <li class="clear mb10">
                            <label class="L">户型图：<span class="warning">*</span></label>
                            <div class="sectionBox-A8 sectionBox-A8-2 L">
                                <div class="border">
                                    <img src="" width="" height="" alt="">
                                    <div class="p10">
                                        上传户型图
                                    </div>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="sectionForm-A1-1 mb10">
                    <ul>
                        <li class="clear button-A">
                            <label class="L"></label>
                            <input class="btn btn-default L mr5 ml5" type="button" value="上传户型图">
                            <div class="sectionMessage-A1 sectionMessage-A1-1 L">
                                <p class="border">
                                    B2户型图  户型：2室2厅1厨1卫  面积：89M2
                                </p>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="sectionForm-A1 sectionForm-A1-1 mb15">
                    <ul>
                        <li class="textarea clear mb10">
                            <label class="L">改后户型分析：</label>
                            <textarea class="L"></textarea>

                        </li>

                    </ul>
                </div>
                <div class="clear mb10 sectionForm-A1 sectionForm-A2 ml50">
                    <button type="submit" class="btn save L mr15 js_saveButton">录入户型</button>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="sectionTransparent-A1 js_sectionTransparentA2 none"></div>
<!-- ============================================================================ -->
<!--popupLayer end-->


<script type="text/javascript">


    LAM.run(function(){
        'use strict';
        var System = this;

        $(function(){



            var pop=new System.PopupLayer({
                '$popLayout':$('.js_sectionPopupLayerA1'),
                '$mask':$('.js_sectionTransparentA1'),
                'padding':2,
                'animate':null
            });
            pop.create().setCenter();


            $('.js_sectionPopupLayerA1Close,.js_sectionTransparentA1').on('click',function(){
                pop.hide();
            });

            $('.js_addChangeStruct').on('click',function(){

                // layer.open({
                //     title: ''
                //     ,type:1
                //     ,fixed:false
                //     ,resize:false
                //     ,area:['50%','80%']
                //     ,content: pop.$popLayout.find('.content').html()
                // });
                pop.show().scroll();
            });






            // //第二个弹出框
            var pop2=new System.PopupLayer({
                '$popLayout':$('.js_sectionPopupLayerA2'),
                '$mask':$('.js_sectionTransparentA2'),
                'padding':0,
                'animate':{}
            });
            pop2.create().setCenter();

            $('.js_sectionPopupLayerA1Close,.js_sectionTransparentA2').on('click',function(){

                pop2.hide();
            });

            $('.js_addChangeStruct2').on('click',function(){
                pop2.show().scroll();
            });


            $('.js_saveButton').bind('click',function(){
                pop.hide();
                pop2.hide();
            });



            // $('.js_showList').toggle(function(){
            //     $(this).text("收起方案列表");
            //     $(this).parents('.sectionWrap-A15').next().show();
            // },function(){
            //     $(this).text("展开方案列表");
            //     $(this).parents('.sectionWrap-A15').next().hide();
            // });

            $(window).scroll(function() {
                pop.scroll();
                pop2.scroll();
            });
            $(window).resize(function() {
                pop.resize().scroll();
                pop2.resize().scroll();
            });

            window.pop = pop;
            window.pop2= pop2;





        });

    });



</script>