<#layout title="楼盘详细" data="{'list':[
{'name':'喜鹊筑家旗舰店','href':'###','title':''},
{'name':'样板间管理','href':'###','title':''},
{'name':'楼盘户型管理','href':'###','title':''},
{'name':'大华锦绣华城-香鸢美颂'}
]}" />
<script type="text/javascript">
    LAM.run([jQuery],function($){
        'use strict';
        var System = this;
        LAM.use();
        System.Loader
            .load({
                'baseUrl':System.CSS,
                'suffix':'.css',
                'rel':'stylesheet',
                'css':[
                    '/tree'
                ]
            })
            .print();



    });
</script>


<div class="row mb15">
    <div class="col-md-12">
        <div class="sectionWrap-A14">
            <div class="sectionBorder-A4 p15 clear">
                <div class="L mr20">
                    <img data-var="tpl" src="{{IMAGE}}/imgs_LHH/pics/img_02.jpg" width="100%" height="100%" alt="">
                </div>
                <div class="">
                    <div class="sectionBox sectionTitle-A sectionTitle-A8 sectionTitle-A8-2 mb5">
                        <h2>大华锦绣华城 香鸢美颂</h2>
                        <div class="more">
                            <a href="###"></a>
                        </div>
                    </div>
                    <div class="sectionText-A3 sectionText-A3-2 mb10">
                        <p class="grey"><strong>07月31日价格：9000元/㎡</strong>(乐美颂小公馆起售)</p>
                        <p class="grey"><strong>交付时间：</strong>2015年08月31日   <strong>开盘时间：</strong>预计8月上旬推香鸢美颂25号楼</p>
                        <p class="grey"><strong>售楼地址：</strong>浦口区浦珠北路59号（浦珠路南侧 长江北侧）</p>
                        <p class="grey"><strong>项目地址：</strong>[江北·浦口区] 浦口区浦珠北路59号（浦珠北路和柳州南路交汇处）</p>
                    </div>
                    <div>
                        <a href="###" class="linkBlue mr10">展开浏览楼盘详细信息</a>
                        <span class="linkBlue js_addChangeStruct hand">添加新户型</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="sectionWrap-A7 p-rel">
            <div class="sectionMenu-A1 sectionMenu-A1-2 sectionMenu-A1-2-1 j_sectionMenuA1">
                <dl class="border">
                    <dd class="cur">
                        <div class="title">香鸢美颂2街区B1户型</div>
                        <div class="sectionIcon-A1 sectionIcon-A1-5 sectionIcon-A1-5-1 none"><i></i></div>
                    </dd>
                    <dd>
                        <div class="title">香鸢美颂2街区B2户型</div>
                        <div class="sectionIcon-A1 sectionIcon-A1-5 sectionIcon-A1-5-1 none"><i></i></div>
                    </dd>
                    <dd>
                        <div class="title">香鸢美颂2街区B2户型</div>
                        <div class="sectionIcon-A1 sectionIcon-A1-5 sectionIcon-A1-5-1 none"><i></i></div>
                    </dd>
                    <dd>
                        <div class="title">香鸢美颂2街区B2户型</div>
                        <div class="sectionIcon-A1 sectionIcon-A1-5 sectionIcon-A1-5-1 none"><i></i></div>
                    </dd>
                    <dd>
                        <div class="title">香鸢美颂2街区B2户型</div>
                        <div class="sectionIcon-A1 sectionIcon-A1-5 sectionIcon-A1-5-1 none"><i></i></div>
                    </dd>

                </dl>

            </div>
            <div class="sectionWrap-A6">
                <div class="j_sectionBlockA1 p-rel sectionBorder-A4 ">
                    <div class="p30">
                        <div class="clear mb15">
                            <div class="L mr20">
                                <img data-var="tpl" src="{{IMAGE}}/imgs_LHH/pics/img_03.jpg" width="100%" height="100%" alt="">
                            </div>
                            <div class="">
                                <div class="sectionBox sectionTitle-A sectionTitle-A8 sectionTitle-A8-2 sectionTitle-A8-2-1 mb5">
                                    <div class="desc">
                                        威尼斯水城12街区89㎡B2户型图
                                        <strong class="ml15">户型：</strong>2室2厅1厨1卫
                                        <strong class="ml15">面积：</strong>89M2
                                    </div>
                                    <div class="more">
                                        <a href="###"></a>
                                    </div>
                                </div>
                                <div class="sectionText-A3 sectionText-A3-3 mb20">
                                    <h4 class="mb5">户型分析：</h4>
                                    <p>所谓好户型，就是能充分尊重人们居家生活天伦本质、亲情本质的户型；是能带给人们身体的、心理的舒适享受的户型；是能满足现在与未来生活变化的需要的户型；是与室外自然、人文环境协调且将好环境引入室内的户型；是能最充分考虑建筑材料与环保的户型。 </p>
                                </div>
                                <div>
                                    <a href="###" class="linkBlue js_addChangeStruct2">添加改装结构后户型</a>
                                </div>

                            </div>
                        </div>

                        <div class="border pb50 bg-white">
                            <div class="js_sectionWrapA15">
                                <div class="sectionWrap-A15">
                                    <div class="p15 clear">
                                        <div class="L mr20">
                                            <img data-var="tpl" src="{{IMAGE}}/imgs_LHH/pics/img_not.jpg" width="100%" height="100%" alt="">
                                        </div>
                                        <div class="L size3of5">
                                            <div class="sectionText-A3 sectionText-A3-3 mb20">
                                                <h4 class="mb5">户型分析：</h4>
                                                <p>所谓好户型，就是能充分尊重人们居家生活天伦本质、亲情本质的户型；是能带给人们身体的、心理的舒适享受的户型；是能满足现在与未来生活变化的需要的户型；是与室外自然、人文环境协调且将好环境引入室内的户型；是能最充分考虑建筑材料与环保的户型。 </p>
                                            </div>
                                        </div>
                                        <div class="w-125 R t-R">
                                            <a href="###" class="linkBlue mb5 block">删除户型</a>
                                            <a href="###" class="linkBlue mb5 block">搭配整装方案</a>
                                            <a href="###" class="linkBlue block js_showList">展开方案列表</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="sectionTable-B1 sectionTable-B1-4 none">
                                    <div class="sectionTitle-A4 sectionTitle-A4-4 sectionFloat-A1 sectionBg-A3 border-t0">
                                        <ul class="clear">
                                            <li class="first col-1">整装方案图片</li>
                                            <li class="col-2">整装方案信息</li>
                                            <li class="col-3">整装方案信息</li>
                                            <li class="col-6">发布时间</li>
                                            <li class="col-7">最后编辑时间</li>
                                            <li class="col-8">操作</li>
                                        </ul>
                                    </div>

                                    <div class="sectionBox-A27 sectionFloat-A1">
                                        <ul class="p10 clear">
                                            <li class="col-1">
                                                <ul class="clear sectionBox-A28">
                                                    <li class="mr5 mb5">
                                                        <a href="###"><img data-var="tpl" src="{{IMAGE}}/imgs_LHH/pics/img_04.jpg" width="100%" height="100%" alt=""></a>
                                                    </li>
                                                    <li class="mb5">
                                                        <a href="###"><img data-var="tpl" src="{{IMAGE}}/imgs_LHH/pics/img_04.jpg" width="100%" height="100%" alt=""></a>
                                                    </li>
                                                    <li class="mr5 mb5">
                                                        <a href="###"><img data-var="tpl" src="{{IMAGE}}/imgs_LHH/pics/img_04.jpg" width="100%" height="100%" alt=""></a>
                                                    </li>
                                                    <li class="mb5">
                                                        <a href="###"><img data-var="tpl" src="{{IMAGE}}/imgs_LHH/pics/img_04.jpg" width="100%" height="100%" alt=""></a>
                                                    </li>
                                                    <li class="">
                                                        <a href="###"><img data-var="tpl" src="{{IMAGE}}/imgs_LHH/pics/img_04.jpg" width="100%" height="100%" alt=""></a>
                                                    </li>

                                                </ul>

                                            </li>
                                            <li class="col-2">
                                                <div class="sectionBox sectionTitle-A sectionTitle-A14 clear">
                                                    <h2 class="L">拥有浓厚复古色彩的以色列家居</h2>
                                                    <strong class="L ml5 top2">推荐</strong>

                                                </div>
                                                <div class="sectionBox sectionText-A3 sectionText-A3-3 t-L">
                                                    <p class="grey">尺寸：3800 * 4800 mm</p>
                                                    <p class="grey">风格：现代 地中海 美式 简约</p>
                                                    <p class="grey">主材报价：<strong class="price">0.00万</strong></p>
                                                    <p class="grey">清工辅料报价：<strong class="price">0.00万</strong></p>
                                                </div>
                                            </li>
                                            <li class="col-3">
                                                <div class="sectionBox-A13 auto w-130">
                                                    <a href="###" class="i-1"></a>
                                                    <a href="###" class="i-2"></a>
                                                    <a href="###" class="i-3"></a>
                                                    <a href="###" class="i-4"></a>
                                                </div>
                                            </li>
                                            <li class="col-6">2014-07-21<br>15:30</li>
                                            <li class="col-7">2014-07-21<br>15:30</li>
                                            <li class="col-8 pl15">
                                                <div class="sectionBox-A14 linkBlue">
                                                    <a href="###">删除方案</a>
                                                    <a href="###">取消推荐</a>
                                                    <a href="###">授权方案</a>
                                                    <a href="###">继续搭配</a>
                                                </div>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="js_sectionWrapA15">
                                <div class="sectionWrap-A15">
                                    <div class="p15 clear">
                                        <div class="L mr20">
                                            <img data-var="tpl" src="{{IMAGE}}/imgs_LHH/pics/img_not.jpg" width="100%" height="100%" alt="">
                                        </div>
                                        <div class="L size3of5">
                                            <div class="sectionText-A3 sectionText-A3-3 mb20">
                                                <h4 class="mb5">户型分析：</h4>
                                                <p>所谓好户型，就是能充分尊重人们居家生活天伦本质、亲情本质的户型；是能带给人们身体的、心理的舒适享受的户型；是能满足现在与未来生活变化的需要的户型；是与室外自然、人文环境协调且将好环境引入室内的户型；是能最充分考虑建筑材料与环保的户型。 </p>
                                            </div>
                                        </div>
                                        <div class="w-125 R t-R">
                                            <a href="###" class="linkBlue mb5 block">删除户型</a>
                                            <a href="###" class="linkBlue mb5 block">搭配整装方案</a>
                                            <a href="###" class="linkBlue block js_showList">展开方案列表</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="sectionTable-B1 sectionTable-B1-4 none">
                                    <div class="sectionTitle-A4 sectionTitle-A4-4 sectionFloat-A1 sectionBg-A3 border-t0">
                                        <ul class="clear">
                                            <li class="first col-1">整装方案图片</li>
                                            <li class="col-2">整装方案信息</li>
                                            <li class="col-3">整装方案信息</li>
                                            <li class="col-6">发布时间</li>
                                            <li class="col-7">最后编辑时间</li>
                                            <li class="col-8">操作</li>
                                        </ul>
                                    </div>

                                    <div class="sectionBox-A27 sectionFloat-A1">
                                        <ul class="p10 clear">
                                            <li class="col-1">
                                                <ul class="clear sectionBox-A28">
                                                    <li class="mr5 mb5">
                                                        <a href="###"><img data-var="tpl" src="{{IMAGE}}/imgs_LHH/pics/img_04.jpg" width="100%" height="100%" alt=""></a>
                                                    </li>
                                                    <li class="mb5">
                                                        <a href="###"><img data-var="tpl" src="{{IMAGE}}/imgs_LHH/pics/img_04.jpg" width="100%" height="100%" alt=""></a>
                                                    </li>
                                                    <li class="mr5 mb5">
                                                        <a href="###"><img data-var="tpl" src="{{IMAGE}}/imgs_LHH/pics/img_04.jpg" width="100%" height="100%" alt=""></a>
                                                    </li>
                                                    <li class="mb5">
                                                        <a href="###"><img data-var="tpl" src="{{IMAGE}}/imgs_LHH/pics/img_04.jpg" width="100%" height="100%" alt=""></a>
                                                    </li>
                                                    <li class="">
                                                        <a href="###"><img data-var="tpl" src="{{IMAGE}}/imgs_LHH/pics/img_04.jpg" width="100%" height="100%" alt=""></a>
                                                    </li>

                                                </ul>

                                            </li>
                                            <li class="col-2">
                                                <div class="sectionBox sectionTitle-A sectionTitle-A14 clear">
                                                    <h2 class="L">拥有浓厚复古色彩的以色列家居</h2>
                                                    <strong class="L ml5 top2">推荐</strong>

                                                </div>
                                                <div class="sectionBox sectionText-A3 sectionText-A3-3 t-L">
                                                    <p class="grey">尺寸：3800 * 4800 mm</p>
                                                    <p class="grey">风格：现代 地中海 美式 简约</p>
                                                    <p class="grey">主材报价：<strong class="price">0.00万</strong></p>
                                                    <p class="grey">清工辅料报价：<strong class="price">0.00万</strong></p>
                                                </div>
                                            </li>
                                            <li class="col-3">
                                                <div class="sectionBox-A13 auto w-130">
                                                    <a href="###" class="i-1"></a>
                                                    <a href="###" class="i-2"></a>
                                                    <a href="###" class="i-3"></a>
                                                    <a href="###" class="i-4"></a>
                                                </div>
                                            </li>
                                            <li class="col-6">2014-07-21<br>15:30</li>
                                            <li class="col-7">2014-07-21<br>15:30</li>
                                            <li class="col-8 pl15">
                                                <div class="sectionBox-A14 linkBlue">
                                                    <a href="###">删除方案</a>
                                                    <a href="###">取消推荐</a>
                                                    <a href="###">授权方案</a>
                                                    <a href="###">继续搭配</a>
                                                </div>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>



                        <div class="sectionPageing-A2 clear mt10">
                            <div class="R">
                                <#include repeat="" tp-data=""  file="{{LAM.COMPONENTS}}/paging.html" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<#include repeat="" tp-data=""  file="{{ LAM.VIEWS }}/room/_popupLayer.html" />
<script type="text/javascript">


    LAM.run(function(){
        'use strict';
        var System = this;
        $(function () {
            new System.Tab({
                'list':$('.j_sectionMenuA1 dd'),
                'event':'click',
                'hover':true,
                'class':'cur',
                'block':$('.j_sectionBlockA1'),
                'fn':function(obj){
                    obj.current.block.each(function(i){
                        if(i == obj.this_index){
                            $(this).show();
                        }else{
                            $(this).hide();
                        }



                    });
                }
            }).run();
        });




    });



</script>