<#define __CUR__="{{LAM.VIEWS}}/room" />
<#define __IMAGE__="{{LAM.IMAGE}}" />
<#layout title="楼盘详细" data="{'list':[
{'name':'喜鹊筑家旗舰店','href':'###','title':''},
{'name':'样板间管理','href':'###','title':''},
{'name':'楼盘户型管理','href':'###','title':''},
{'name':'大华锦绣华城-香鸢美颂'}
]}" />

<script type="text/javascript">
    LAM.run([jQuery],function($){
        'use strict';
        var System = this;
        LAM.use();
        System.Loader
            .load({
                'baseUrl':System.CSS,
                'suffix':'.css',
                'rel':'stylesheet',
                'css':[
                    '/tree'
                ]
            })
            .print();



    });
</script>


<div class="row mb15">
    <div class="col-md-12">
        <div class="sectionWrap-A14">
            <div class="sectionBorder-A4 p15 clear">
                <div class="L mr20">
                    <img data-var="tpl" src="__IMAGE__/imgs_LHH/pics/img_02.jpg" width="100%" height="100%" alt="">
                </div>
                <div class="">
                    <div class="sectionBox sectionTitle-A sectionTitle-A8 sectionTitle-A8-2 mb5">
                        <h2>大华锦绣华城 香鸢美颂</h2>
                        <div class="more">
                            <a href="###"></a>
                        </div>
                    </div>
                    <div class="sectionText-A3 sectionText-A3-2 mb10">
                        <p class="grey"><strong>07月31日价格：9000元/㎡</strong>(乐美颂小公馆起售)</p>
                        <p class="grey"><strong>交付时间：</strong>2015年08月31日   <strong>开盘时间：</strong>预计8月上旬推香鸢美颂25号楼</p>
                        <p class="grey"><strong>售楼地址：</strong>浦口区浦珠北路59号（浦珠路南侧 长江北侧）</p>
                        <p class="grey"><strong>项目地址：</strong>[江北·浦口区] 浦口区浦珠北路59号（浦珠北路和柳州南路交汇处）</p>
                    </div>
                    <div>
                        <a href="###" class="linkBlue mr10">展开浏览楼盘详细信息</a>
                        <span class="linkBlue js_addChangeStruct hand">添加新户型</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="sectionWrap-A7 p-rel">
            <div class="sectionMenu-A1 sectionMenu-A1-2 sectionMenu-A1-2-1 j_sectionMenuA1">
                <dl class="border">
                    <dd class="cur">
                        <div class="title">香鸢美颂2街区B1户型</div>
                        <div class="sectionIcon-A1 sectionIcon-A1-5 sectionIcon-A1-5-1 none"><i></i></div>
                    </dd>
                    <dd>
                        <div class="title">香鸢美颂2街区B2户型</div>
                        <div class="sectionIcon-A1 sectionIcon-A1-5 sectionIcon-A1-5-1 none"><i></i></div>
                    </dd>
                    <dd>
                        <div class="title">香鸢美颂2街区B2户型</div>
                        <div class="sectionIcon-A1 sectionIcon-A1-5 sectionIcon-A1-5-1 none"><i></i></div>
                    </dd>
                    <dd>
                        <div class="title">香鸢美颂2街区B2户型</div>
                        <div class="sectionIcon-A1 sectionIcon-A1-5 sectionIcon-A1-5-1 none"><i></i></div>
                    </dd>
                    <dd>
                        <div class="title">香鸢美颂2街区B2户型</div>
                        <div class="sectionIcon-A1 sectionIcon-A1-5 sectionIcon-A1-5-1 none"><i></i></div>
                    </dd>

                </dl>

            </div>
            <div class="sectionWrap-A6">
                <#include repeat="" tp-data="{}"  file="__CUR__/_detail.html" />
                <#include repeat="" tp-data="{}"  file="__CUR__/_detail.html" />
                <#include repeat="" tp-data="{}"  file="__CUR__/_detail.html" />
                <#include repeat="" tp-data="{}"  file="__CUR__/_detail.html" />
                <#include repeat="" tp-data="{}"  file="__CUR__/_detail.html" />
            </div>
        </div>
    </div>
</div>
<#include repeat="" tp-data=""  file="__CUR__/_popupLayer.html" />
<script type="text/javascript">


    LAM.run(function(){
        'use strict';
        var System = this;
        $(function () {
            $('.j_sectionBlockA1').eq(1).show();
            new System.Tab({
                'list':$('.j_sectionMenuA1 dd'),
                'event':'click',
                'hover':true,
                'class':'cur',
                'block':$('.j_sectionBlockA1'),
                'fn':function(obj){
                    obj.current.block.each(function(i){
                        if(i == obj.this_index){
                            $(this).show();
                        }else{
                            $(this).hide();
                        }



                    });
                }
            }).run();
        });




    });



</script>