
<#extends title="商品列表" data="{'list':[
{'name':'喜鹊筑家旗舰店','href':'###','title':''},
{'name':'商品管理','href':'###','title':''},
{'name':'仓库中的商品'}
]}" />

<div class="clear mb10 sectionForm-A1 sectionForm-A1-1-2 sectionForm-A2 mb15">
    <button type="submit" class="btn save L mr15">+&nbsp;&nbsp;添加新案例</button>
</div>

<form class="form-horizontal">
    <div class="sectionBorder-A3 mb15">
        <div class="sectionTable-B1 sectionTable-B1-5">
            <div class="sectionTitle-A4 sectionTitle-A4-2 sectionTitle-A4-3 sectionFloat-A1 sectionBg-A2">
                <ul class="clear">
                    <li class="first col-1">案例封面图片</li>
                    <li class="col-2">案例信息</li>
                    <li class="col-3">排序</li>
                    <li class="col-7">最后编辑时间</li>
                    <li class="col-8">操作</li>
                </ul>
            </div>
            <#include repeat="0" tp-data="{}"  file="{{LAM.COMPONENTS}}/list.html" capture="function(s){return LAM.Template.jQCompile(s,
            {'list':[
            {'name':'李晨','style':'新古典,其他,简约'},
            {'name':'刘军','style':'地中海-田园,北欧,其他,简约'},
            {'name':'王磊','style':'新古典,地中海-田园'},
            {'name':'萧红','style':'新古典,地中海-田园,其他,简约'},
            {'name':'马良','style':'新古典,地中海-田园,北欧,简约'},
            {'name':'赵明','style':'新古典,地中海-田园,北欧,其他'}
            ]})}" />





        </div>

    </div>

    <div class="sectionPageing-A2 clear">
        <div class="R">
            <#include repeat="0" tp-data=""  file="{{LAM.COMPONENTS}}/paging.html" />
        </div>
    </div>
</form>

