<div class="sectionCrumb-A1 mb30">
    <ul class="clear">
        <li><a title="" href="" class="linkBlue">喜鹊筑家旗舰店</a>&nbsp;&gt;&nbsp;</li>
        <li><a title="" href="" class="linkBlue">店铺管理</a>&nbsp;&gt;&nbsp;</li>
        <li><strong>店铺职责</strong></li>
    </ul>
</div>

<form class="form-horizontal">

    <div class="sectionWrap-A5">
        <div class="p15">
            <div class="sectionBox sectionTitle-A sectionTitle-A7 mb50 mt50">
                <i class="icon"></i>
                <h2>商品发布成功</h2>
            </div>
            <div class="pl35">
                <p class="mb25">
                    <a href="###" class="linkBlue mr30">查看发布成功的商品详情</a>
                    <a href="###" class="linkBlue">重新编辑刚发布的商品</a>

                </p>
                <div class="clear">
                    <div class="L">您还可以：</div>
                    <div class="L">
                        <p class="mb10">1.继续“<a href="index.html?r=room/release" class="linkBlue">发布产品</a>”</p>
                        <p>2.进入“<a href="index.html?r=shop/shopList" class="linkBlue">商品列表</a>”</p>
                    </div>
                </div>
            </div>


        </div>

    </div>

</form>

<script type="text/javascript">
    LAM.TITLE= "商品发布成功";
    LAM.wait([jQuery],function($) {
        'use strict';
        var System = this;
    });
</script>