<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{title}}</title>
	<script type="text/javascript">
		LAMJS.run(function() {
			'use strict';
			var System=this;
			System.use();
			System.Loadcommon
					.load({
						'baseUrl':System.ROOT,
						'css':[
								 '/common/css/lib/lib'
								,'/project/css/chess'
						]
					}).print();


			System.import([
					 '/Canvas.class'
					,'/Shape.class'
					,'/Chess.class'
			],System.classPath);
		});
	</script>
</head>

<body>
<canvas id="chess" width="450" height="450"></canvas>

</body>
</html>


<script type="text/javascript">

	LAMJS.run(function() {
		var System=this;
		var chess;

		$(function(){
			chess=new System.Html5.Chess($('#chess')[0],19);
			chess
					.add_watermark(System.ROOT+'/project/images/11.jpg',function(){
						chess
								.draw()
								.click();
					});





		});

	});
</script>
