<#define _TITLE_="店铺基本设置" />
<#define _PICS_="{{IMAGE}}/imgs_LHH/pics" />
<#layout title="_TITLE_" data="{'list':[
{'name':'喜鹊筑家旗舰店','href':'###','title':''},
{'name':'店铺管理','href':'###','title':''},
{'name':'_TITLE_'}
]}" />


<div class="sectionBox sectionTitle-A8 mb20">
    <h2 class="">共有20套模板</h2>
</div>

<form class="form-horizontal">
    <div class="sectionWrap-A21">
        <div class="sectionFloat sectionWrap-A17 mb10">
            <ul class="clear size1of1">
                <li class="size1of5">
                    <div class="sectionBox sectionBox-A32 sectionText-A3 mr35">
                        <div class="p10">
                            <div class="img mb10">
                                <a href="###"><img data-var="tpl" src="_PICS_/img_09.jpg" width="100%" height="100%" alt=""></a>
                            </div>
                            <p class="desc mb10">灰色良品</p>
                            <div class="sectionBox sectionBox-A15 mb10 sectionForm-A1 sectionForm-A1-1-2 sectionForm-A2">
                                <button type="submit" class="btn btn-cancel mr15">当前使用的模板</button>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="size1of5">
                    <div class="sectionBox sectionBox-A32 sectionText-A3 mr35">
                        <div class="p10">
                            <div class="img mb10">
                                <a href="###"><img data-var="tpl" src="_PICS_/img_09.jpg" width="100%" height="100%" alt=""></a>
                            </div>
                            <p class="desc mb10">灰色良品</p>
                            <div class="sectionBox sectionBox-A15 mb10 sectionForm-A1 sectionForm-A1-1-2 sectionForm-A2">
                                <button type="submit" class="btn mr15">使用模板</button>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="size1of5">
                    <div class="sectionBox sectionBox-A32 sectionText-A3 mr35">
                        <div class="p10">
                            <div class="img mb10">
                                <a href="###"><img data-var="tpl" src="_PICS_/img_09.jpg" width="100%" height="100%" alt=""></a>
                            </div>
                            <p class="desc mb10">灰色良品</p>
                            <div class="sectionBox sectionBox-A15 mb10 sectionForm-A1 sectionForm-A1-1-2 sectionForm-A2">
                                <button type="submit" class="btn mr15">使用模板</button>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="size1of5">
                    <div class="sectionBox sectionBox-A32 sectionText-A3 mr35">
                        <div class="p10">
                            <div class="img mb10">
                                <a href="###"><img data-var="tpl" src="_PICS_/img_09.jpg" width="100%" height="100%" alt=""></a>
                            </div>
                            <p class="desc mb10">灰色良品</p>
                            <div class="sectionBox sectionBox-A15 mb10 sectionForm-A1 sectionForm-A1-1-2 sectionForm-A2">
                                <button type="submit" class="btn mr15">使用模板</button>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="size1of5">
                    <div class="sectionBox sectionBox-A32 sectionText-A3 mr35">
                        <div class="p10">
                            <div class="img mb10">
                                <a href="###"><img data-var="tpl" src="_PICS_/img_09.jpg" width="100%" height="100%" alt=""></a>
                            </div>
                            <p class="desc mb10">灰色良品</p>
                            <div class="sectionBox sectionBox-A15 mb10 sectionForm-A1 sectionForm-A1-1-2 sectionForm-A2">
                                <button type="submit" class="btn mr15">使用模板</button>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="size1of5">
                    <div class="sectionBox sectionBox-A32 sectionText-A3 mr35">
                        <div class="p10">
                            <div class="img mb10">
                                <a href="###"><img data-var="tpl" src="_PICS_/img_09.jpg" width="100%" height="100%" alt=""></a>
                            </div>
                            <p class="desc mb10">灰色良品</p>
                            <div class="sectionBox sectionBox-A15 mb10 sectionForm-A1 sectionForm-A1-1-2 sectionForm-A2">
                                <button type="submit" class="btn mr15">使用模板</button>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="size1of5">
                    <div class="sectionBox sectionBox-A32 sectionText-A3 mr35">
                        <div class="p10">
                            <div class="img mb10">
                                <a href="###"><img data-var="tpl" src="_PICS_/img_09.jpg" width="100%" height="100%" alt=""></a>
                            </div>
                            <p class="desc mb10">灰色良品</p>
                            <div class="sectionBox sectionBox-A15 mb10 sectionForm-A1 sectionForm-A1-1-2 sectionForm-A2">
                                <button type="submit" class="btn mr15">使用模板</button>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="size1of5">
                    <div class="sectionBox sectionBox-A32 sectionText-A3 mr35">
                        <div class="p10">
                            <div class="img mb10">
                                <a href="###"><img data-var="tpl" src="_PICS_/img_09.jpg" width="100%" height="100%" alt=""></a>
                            </div>
                            <p class="desc mb10">灰色良品</p>
                            <div class="sectionBox sectionBox-A15 mb10 sectionForm-A1 sectionForm-A1-1-2 sectionForm-A2">
                                <button type="submit" class="btn mr15">使用模板</button>
                            </div>
                        </div>

                    </div>
                </li>


            </ul>
        </div>
    </div>
</form>
