<#define _PICS_="{{IMAGE}}/imgs_LHH/pics" />
<#layout title="商品授权" data="{'list':[
{'name':'喜鹊筑家旗舰店','href':'###','title':''},
{'name':'店铺管理','href':'###','title':''},
{'name':'店铺职责','href':'###','title':''},
{'name':'设置店铺职责权限'}
]}" />


<div class="sectionWrap-A7 p-rel">
    <div class="sectionMenu-A1 sectionMenu-A1-3 j_sectionMenuA1">
        <dl class="border dl-1">
            <dd class="dd-1 cur"><div class="title"><a href="###">东鹏</a></div></dd>
            <dd class="dd-1"><div class="title"><a href="###">卢森</a></div></dd>
            <dd class="dd-1">
                <div class="title"><a href="###">艾格尼斯</a></div>
                <dl class="dl-2 none j_sectionMenuA2">
                    <dd class="dd-2 pl20"><div class="title"><a href="###">瓷砖</a></div></dd>
                    <dd class="dd-2 pl20"><div class="title"><a href="###">木地板</a></div></dd>
                    <dd class="dd-2 pl20"><div class="title"><a href="###">沙发</a></div></dd>
                    <dd class="dd-2 pl20"><div class="title"><a href="###">床</a></div></dd>
                    <dd class="dd-2 pl20"><div class="title"><a href="###">橱柜</a></div></dd>
                    <dd class="dd-2 pl20"><div class="title"><a href="###">无纺纸墙纸</a></div></dd>
                </dl>
            </dd>
            <dd class="dd-1"><div class="title"><a href="###">科拉尼</a></div></dd>
            <dd class="dd-1"><div class="title"><a href="###">欧思特</a></div></dd>
            <dd class="dd-1"><div class="title"><a href="###">玉兰</a></div></dd>
        </dl>
    </div>

    <div class="sectionWrap-A6">
        <div class="j_sectionBlock p-rel sectionBorder-A4 ">
            <div class="p25">
                <ul class="sectionTitle-A5 sectionTitle-A5-p0 clear mb10 sectionForm-A1 sectionForm-A1-1 sectionForm-A1-2 sectionFloat">
                    <li class="mr20">
                        <span class="mr5"><input class="v-negative3 js_allcheckbok" type="checkbox"></span>
                        <span>全选当前商品</strong>
                    </li>
                    <li class="mr20">
                        <label class="L w-auto">设置授权过期时间：</label>
                        <input type="text" class="text w-160 L" value="" placeholder="请输入商品名称">
                    </li>
                    <li class="">
                        <label class="L w-auto">过期提醒：</label>
                        <input type="text" class="text w-160 L" value="" placeholder="请输入商品名称">
                    </li>
                    <li class="R sectionButton-B1">
                        <button type="submit" class="btn">保存</button>
                    </li>
                </ul>

                <div class="sectionFloat sectionWrap-A17 mb10">
                    <ul class="clear size1of1">
                        <li class="size1of4">
                            <div class="sectionBox sectionBox-A32 sectionText-A3 mr35">
                                <div class="p10">
                                    <div class="img mb10">
                                        <a href="###"><img data-var="tpl" src="_PICS_/img_09.jpg" width="100%" height="100%" alt=""></a>
                                    </div>
                                    <p class="desc mb5">沙发垫防滑坐垫套装</p>
                                    <div class="clear">
                                        <div class="price L"><span class="grey mr5">价格：</span><strong class="symbol mr5">¥</strong><span class="nu">1388</span></div>
                                        <input name="" type="checkbox" class="R">
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="size1of4">
                            <div class="sectionBox sectionBox-A32 sectionText-A3 mr35">
                                <div class="p10">
                                    <div class="img mb10">
                                        <a href="###"><img data-var="tpl" src="_PICS_/img_09.jpg" width="100%" height="100%" alt=""></a>
                                    </div>
                                    <p class="desc mb5">沙发垫防滑坐垫套装</p>
                                    <div class="clear">
                                        <div class="price L"><span class="grey mr5">价格：</span><strong class="symbol mr5">¥</strong><span class="nu">1388</span></div>
                                        <input name="" type="checkbox" class="R">
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="size1of4">
                            <div class="sectionBox sectionBox-A32 sectionText-A3 mr35">
                                <div class="p10">
                                    <div class="img mb10">
                                        <a href="###"><img data-var="tpl" src="_PICS_/img_09.jpg" width="100%" height="100%" alt=""></a>
                                    </div>
                                    <p class="desc mb5">沙发垫防滑坐垫套装</p>
                                    <div class="clear">
                                        <div class="price L"><span class="grey mr5">价格：</span><strong class="symbol mr5">¥</strong><span class="nu">1388</span></div>
                                        <input name="" type="checkbox" class="R">
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="size1of4">
                            <div class="sectionBox sectionBox-A32 sectionText-A3 mr35">
                                <div class="p10">
                                    <div class="img mb10">
                                        <a href="###"><img data-var="tpl" src="_PICS_/img_09.jpg" width="100%" height="100%" alt=""></a>
                                    </div>
                                    <p class="desc mb5">沙发垫防滑坐垫套装</p>
                                    <div class="clear">
                                        <div class="price L"><span class="grey mr5">价格：</span><strong class="symbol mr5">¥</strong><span class="nu">1388</span></div>
                                        <input name="" type="checkbox" class="R">
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="size1of4">
                            <div class="sectionBox sectionBox-A32 sectionText-A3 mr35">
                                <div class="p10">
                                    <div class="img mb10">
                                        <a href="###"><img data-var="tpl" src="_PICS_/img_09.jpg" width="100%" height="100%" alt=""></a>
                                    </div>
                                    <p class="desc mb5">沙发垫防滑坐垫套装</p>
                                    <div class="clear">
                                        <div class="price L"><span class="grey mr5">价格：</span><strong class="symbol mr5">¥</strong><span class="nu">1388</span></div>
                                        <input name="" type="checkbox" class="R">
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="size1of4">
                            <div class="sectionBox sectionBox-A32 sectionText-A3 mr35">
                                <div class="p10">
                                    <div class="img mb10">
                                        <a href="###"><img data-var="tpl" src="_PICS_/img_09.jpg" width="100%" height="100%" alt=""></a>
                                    </div>
                                    <p class="desc mb5">沙发垫防滑坐垫套装</p>
                                    <div class="clear">
                                        <div class="price L"><span class="grey mr5">价格：</span><strong class="symbol mr5">¥</strong><span class="nu">1388</span></div>
                                        <input name="" type="checkbox" class="R">
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="size1of4">
                            <div class="sectionBox sectionBox-A32 sectionText-A3 mr35">
                                <div class="p10">
                                    <div class="img mb10">
                                        <a href="###"><img data-var="tpl" src="_PICS_/img_09.jpg" width="100%" height="100%" alt=""></a>
                                    </div>
                                    <p class="desc mb5">沙发垫防滑坐垫套装</p>
                                    <div class="clear">
                                        <div class="price L"><span class="grey mr5">价格：</span><strong class="symbol mr5">¥</strong><span class="nu">1388</span></div>
                                        <input name="" type="checkbox" class="R">
                                    </div>
                                </div>

                            </div>
                        </li>


                    </ul>
                </div>


                <div class="sectionPageing-A2 clear mb20">
                    <div class="R">
                        <#include repeat="0" tp-data="{}"  file="{{LAM.COMPONENTS}}/paging.html" />
                    </div>
                </div>

                <div class="sectionTitle-A5 sectionTitle-A5-p0 clear">
                    <div class="L">
                        <span class="mr5"><input class="v-negative3 js_allcheckbok" type="checkbox"></span>
                        <span>全选当前商品</strong>
                    </div>
                    <div class="R sectionButton-B1">
                        <button type="submit" class="btn">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    LAM.run([jQuery],function($){
        'use strict';
        var System = this;
        System.Loader
            .load({
                'baseUrl':System.CSS,
                'suffix':'.css',
                'rel':'stylesheet',
                'css':[
                    '/tree'
                ]
            })
            .print();
    });
    LAM.run([jQuery],function($) {
        'use strict';
        var System = this;
        var tools =new System.Tools();
        $(function(){
            $('.sectionTitle-A5 [type="checkbox"]').on('click',function () {
                tools.checkboxSelectAll($('.sectionWrap-A17 input[type="checkbox"]'),this);

            });

            new System.Tab({
                'list':$('.j_sectionMenuA1 .dd-1'),
                'event':'click',
                'class':'cur',
                'or':true


            }).run();
            new System.Tab({
                'list':$('.j_sectionMenuA2 .dd-2'),
                'event':'click',
                'class':'cur2',
                'or':true


            }).run();



        });
    });
</script>
