<#define _PICS_="{{IMAGE}}/imgs_LHH/pics" />
<#layout title="楼盘" data="{'list':[
{'name':'喜鹊筑家旗舰店','href':'###','title':''},
{'name':'店铺管理','href':'###','title':''},
{'name':'店铺基本设置'}
]}" />

<form class="form-horizontal">
    <div class="sectionTitle-A12">
        <div class="border clear">
            <div class="L sectionForm-A1 sectionForm-A1-1 sectionForm-A1-1-3 sectionForm-A6">
                <select class="L mr10">
                    <option value="">南京市</option>
                </select>
                <input type="text" class="text L w120 mr5" value="" placeholder="输入楼盘名称">
                <input type="submit" class="L button mr10" value="搜索">
                <input type="checkbox" class="L">
                <label for="" class="L w-auto ml10">已收藏楼盘</label>
            </div>
            <div class="R">
                <span class="linkBlue mr10 js_addHouse hand">录入新楼盘 </span>
                <a href="###" class="linkBlue">修改标记式样 </a>
            </div>
        </div>
    </div>
    <div class="sectionWrap-A8 p-rel">
        <div class="border">
            <div class="content p-rel js_mapWrap">
                <img data-var="tpl" src="_PICS_/map.jpg" width="100%" height="100%" alt=""/>
                <div class="sectionLandmark-A sectionLandmark-A1 clear">
                    <span>大华锦绣华城乐美颂三期大华锦绣华城乐</span>
                </div>

            </div>

            <div class="sectionMapPop-A1 ">
                <div class="border">
                    <div class="sectionBox sectionTitle-A sectionTitle-A13">
                        <h2>大华锦绣华城乐美颂三期</h2>
                        <div class="more sectionIcon-A5">
                            <i class="myclose js_sectionPopupLayerA1Close"></i>
                        </div>
                    </div>
                    <div class="p5">
                        <div class="mb10 t-C">
                            <img data-var="tpl" src="_PICS_/ad_1.jpg" width="334" height="148" alt=""/>
                        </div>
                        <div class="sectionText-A3 sectionText-A3-1 pl5 pr5 mb10">
                            <p>价格：<strong class="color-f00">9000元/㎡</strong>(乐美颂小公馆起售)</p>
                            <p>电话：400-8181-365</p>
                            <p>地址：浦口区浦珠北路59号（浦珠北路和柳州南路交汇处）</p>
                            <p>交付时间：2015年08月31日</p>
                            <p>物 业 费：1.28元/平米（不包含公摊水电）</p>
                        </div>
                    </div>
                    <div class="sectionTitle-B3 linkBlue">
                        <a href="###" class="mr20">进入楼盘</a>
                        <a href="###" class="mr20">收藏楼盘</a>
                        <a href="###" class="mr20">楼盘户型图(10)</a>
                        <a href="###">搭配整装方案</a>
                    </div>
                    <div class="sectionIcon-C1"><i><img data-var="tpl" src="{{IMAGE}}/imgs_LHH/iw_tail.png" width="" height="" alt=""/></i></div>

                </div>
            </div>

            <div class="sectionMapPop-A2 ">
                <div class="border">
                    <div class="p10">
                        <div class="clear mb10">
                            <img data-var="tpl" src="_PICS_/icon_01.jpg" width="28" height="28" alt="" class="L">
                            <div class="sectionBtn-A3 sectionBtn-A3-1 ml15 js_sectionBtnA3_1 L top2">
                                <a href="###">更换图标</a>
                            </div>

                        </div>
                        <div class="sectionMessage-A1 sectionMessage-A1-1 mb10">
                            <p class="border">
                                文件格式GIF、JPG、JPEG、PNG文件大小80K以内，建议尺寸28px*28px
                            </p>
                        </div>
                        <div class="sectionTitle-A6 sectionTitle-A6-1 mb10">
                            <h2>更换标记样式</h2>
                        </div>

                        <div class="sectionFloat-A1 sectionBox-A26 mb50">
                            <ul class="clear">
                                <li>
                                    <div class="sectionBox-A25 mb1 mr1">
                                        <img data-var="tpl" src="_PICS_/icon_01.png" width="110" height="75" alt="" class="L">
                                    </div>
                                </li>
                                <li>
                                    <div class="sectionBox-A25 mb1 mr1">
                                        <img data-var="tpl" src="_PICS_/icon_02.png" width="110" height="75" alt="" class="L">
                                    </div>
                                </li>
                                <li>
                                    <div class="sectionBox-A25 mb1 mr1">
                                        <img data-var="tpl" src="_PICS_/icon_03.png" width="110" height="75" alt="" class="L">
                                    </div>
                                </li>
                                <li>
                                    <div class="sectionBox-A25 mb1 mr1">
                                        <img data-var="tpl" src="_PICS_/icon_04.png" width="110" height="75" alt="" class="L">
                                    </div>
                                </li>
                                <li>
                                    <div class="sectionBox-A25 mb1 mr1">
                                        <img data-var="tpl" src="_PICS_/icon_05.png" width="110" height="75" alt="" class="L">
                                    </div>
                                </li>
                                <li>
                                    <div class="sectionBox-A25 mb1 mr1">
                                        <img data-var="tpl" src="_PICS_/icon_06.png" width="110" height="75" alt="" class="L">
                                    </div>
                                </li>
                                <li>
                                    <div class="sectionBox-A25 mb1 mr1">
                                        <img data-var="tpl" src="_PICS_/icon_07.png" width="110" height="75" alt="" class="L">
                                    </div>
                                </li>
                                <li>
                                    <div class="sectionBox-A25 mb1 mr1">
                                        <img data-var="tpl" src="_PICS_/icon_08.png" width="110" height="75" alt="" class="L">
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                    <div class="clear sectionBox-B2 pt5">
                        <div class="sectionBtn-A3 sectionBtn-A3-1 ml10 js_sectionBtnA3_1 R mr10">
                            <a href="###">取消</a>
                        </div>
                        <div class="sectionBtn-A3 sectionBtn-A3-1 js_sectionBtnA3_1 R">
                            <a href="###">确定</a>
                        </div>
                    </div>


                </div>

            </div>




        </div>
    </div>

</form>

<!--popupLayer1 begin-->
<!-- ============================================================================ -->
<div class="sectionPopupLayer-A1 sectionPopupLayer-A1-4 border sectionShadow-A4 sectionAutoCent js_sectionPopupLayerA1 none">
    <div class="sectionBox sectionTitle-A sectionTitle-A11">
        <h2>录入新楼盘</h2>
        <div class="more sectionIcon-A4">
            <i class="myclose js_sectionPopupLayerA1Close1"></i>
        </div>
    </div>
    <div class="content">
        <div class="p30 mb50">
            <div class="sectionWrap-A13 sectionText-A3">
                <div class="sectionForm-A1 sectionForm-A1-1">
                    <ul>
                        <li class="clear mb10">
                            <label class="L">楼盘标志：<span class="warning">*</span></label>
                            <div class="sectionBox-A8 sectionBox-A8-3 L">
                                <div class="border">
                                    <img src="" width="" height="" alt="">
                                    <div class="p10">
                                        上传楼盘标志
                                    </div>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="sectionForm-A1-1 mb10">
                    <ul>
                        <li class="clear button-A">
                            <label class="L"></label>
                            <input class="btn btn-default L mr5 ml5" type="button" value="上传图标">
                            <div class="sectionMessage-A1 sectionMessage-A1-1 L">
                                <p class="border">
                                    文件格式GIF、JPG、JPEG、PNG文件大小80K以内
                                </p>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="sectionForm-A1 sectionForm-A1-1 mb15">
                    <ul>
                        <li class="clear mb5">
                            <label class="L">楼盘名称：<span class="warning">*</span></label>
                            <input type="text" class="text L w-380" value="">
                        </li>
                        <li class="clear mb5">
                            <label class="L">参考均价：</label>
                            <input type="text" class="text L w-380" value="">
                        </li>
                        <li class="clear mb5">
                            <label class="L">咨询电话：<span class="warning">*</span></label>
                            <input type="text" class="text L w-380" value="">
                        </li>
                        <li class="clear mb5">
                            <label class="L">项目地址：<span class="warning">*</span></label>
                            <input type="text" class="text L w-380" value="">
                        </li>
                        <li class="clear mb5">
                            <label class="L">主力户型：<span class="warning">*</span></label>
                            <input type="text" class="text L w-380" value="">
                        </li>

                        <li class="textarea clear mb10">
                            <label class="L">楼盘简介：</label>
                            <textarea class="L"></textarea>

                        </li>
                    </ul>
                </div>
                <div class="sectionBorder-B1 mb20"></div>
                <ul class="sectionFloat clear mb15">
                    <li>
                        <div class="sectionBox sectionThumbnail-A sectionThumbnail-A1 sectionText-A3 mr20">
                            <div class="mb5 img">
                                <a href="###"><img data-var="tpl" src="_PICS_/img_12.jpg" width="148" height="118" alt=""></a>
                            </div>
                            <p class="desc">大华锦绣华城乐美颂三期3室2厅1卫 98.26M2</p>
                        </div>
                    </li>
                    <li>
                        <div class="sectionBox sectionThumbnail-A sectionThumbnail-A1 sectionText-A3 mr20">
                            <div class="mb5 img">
                                <a href="###"><img data-var="tpl" src="{{IMAGE}}/imgs_LHH/add_house.jpg" width="148" height="118" alt=""></a>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="sectionWrap-A13 sectionWrap-A13-bg sectionText-A3">
                    <div class="p10">
                        <div class="sectionForm-A1 sectionForm-A1-1">
                            <ul>
                                <li class="clear mb10">
                                    <label class="L">户型图：<span class="warning">*</span></label>
                                    <div class="sectionBox-A8 sectionBox-A8-2 L">
                                        <div class="border">
                                            <img src="" width="" height="" alt="">
                                            <div class="p10">
                                                上传户型图
                                            </div>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                        <div class="sectionForm-A1-1 mb10">
                            <ul>
                                <li class="clear button-A">
                                    <label class="L"></label>
                                    <input class="btn btn-default L mr5 ml5" type="button" value="上传户型图">
                                    <div class="sectionMessage-A1 sectionMessage-A1-1 L">
                                        <p class="border">
                                            B2户型图  户型：2室2厅1厨1卫  面积：89M2
                                        </p>
                                    </div>

                                </li>
                            </ul>
                        </div>
                        <div class="sectionForm-A1 sectionForm-A1-1 mb10">
                            <ul>
                                <li class="clear mb5">
                                    <label class="L">户型名称：<span class="warning">*</span></label>
                                    <input type="text" class="text name L" value="">
                                </li>
                                <li class="clear mb5">
                                    <label class="L">户型：</label>
                                    <select class="L w-40">
                                        <option value=""></option>
                                    </select>
                                    <label class="L w-auto ml10 grey">室</label>
                                    <select class="L ml5 w-40">
                                        <option value=""></option>
                                    </select>
                                    <label class="L w-auto ml10 grey">厅</label>
                                    <select class="L ml5 w-40">
                                        <option value=""></option>
                                    </select>
                                    <label class="L w-auto ml10 grey">厨</label>
                                    <select class="L ml5 w-40">
                                        <option value=""></option>
                                    </select>
                                    <label class="L w-auto ml10 grey">卫</label>
                                    <select class="L ml5 w-40">
                                        <option value=""></option>
                                    </select>
                                    <label class="L w-auto ml10 grey">阳台</label>

                                </li>
                                <li class="clear mb5">
                                    <label class="L">户型：<span class="warning">*</span></label>
                                    <input type="text" class="text name L" value="">
                                </li>


                            </ul>
                        </div>
                        <div class="clear sectionButton-B1 sectionButton-B1-big ml50">
                            <button type="submit" class="btn save L mr15 js_saveButton">添加</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear sectionBox-A34 sectionButton-B1 sectionButton-B1-big">
            <div class="p10 clear">
                <button type="submit" class="btn save R js_saveButton">保存</button>
            </div>
        </div>

    </div>
</div>

<!--popupLayer2 begin-->
<!-- ============================================================================ -->
<div class="sectionPopupLayer-A1 sectionPopupLayer-A1-1 js_sectionPopupLayerA2 border sectionShadow-A4 none">
    <div class="sectionBox sectionTitle-A sectionTitle-A11">
        <h2>录入新楼盘</h2>
        <div class="more sectionIcon-A4">
            <i class="myclose js_sectionPopupLayerA1Close2"></i>
        </div>
    </div>
    <div class="content">
        <div class="p30 js_sectionPopupLayerA1_content">
            <div class="ml35 mt30">
                <div class="sectionBox sectionTitle-A sectionTitle-A7 mb30">
                    <i class="icon"></i>
                    <h2>您已成功录入一个楼盘</h2>
                </div>
                <div class="pl35 mb50">
                    <p class="mb25">
                        <a href="###" class="linkBlue mr10">查看录入的楼盘</a>
                        <a href="###" class="linkBlue">重新编辑刚录入的楼盘</a>

                    </p>
                    <div class="clear">
                        <div class="L">
                            <span class="mr5">您还可以：继续 &nbsp;“<a href="###" class="linkBlue">录入楼盘</a>”</span>
                            <span>“<a href="###" class="linkBlue">录入户型图</a>”</span>
                        </div>

                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
<!--mask-->
<div class="sectionTransparent-A1 js_sectionTransparentA1 none"></div>
<!-- ============================================================================ -->
<!--popupLayer end-->
<script type="text/javascript">
    LAM.run([jQuery],function($){
        'use strict';
        var System = this;
        System.import([
            '/PopupLayer.class',
            '/base/Drag.class'
        ],System.classPath);
    });
    LAM.run([jQuery],function($) {
        'use strict';
        var System = this;

        $(function(){
            var pop=new System.PopupLayer({
                '$popLayout':$('.js_sectionPopupLayerA1'),
                '$mask':$('.js_sectionTransparentA1'),
                'padding':0
            });

            // new System.Drag(pop.$popLayout[0],{'arear':pop.$popLayout.find('.sectionTitle-A11')[0]});

            $('.js_sectionPopupLayerA1Close1').on('click',function(){
                pop.hide();
            });

            $('.js_addHouse').on('click',function(){
                pop.show();
            });
            



            //第二个弹出框
            var pop2=new System.PopupLayer({
                '$popLayout':$('.js_sectionPopupLayerA2'),
                '$mask':pop.$mask,
                'padding':0
            }).setCenter();

            $('.js_sectionPopupLayerA1Close2').on('click',function(){
                pop2.hide();
            });

            $('.js_success').on('click',function(){
                pop2.show();
            });


            $('.js_saveButton').on('click',function(){
                pop.hide();
                pop2.hide();
            });





        });
    });
</script>
