<#define _TITLE_="新建房间" />
<#layout title="_TITLE_" data="{'list':[
{'name':'喜鹊筑家旗舰店','href':'###','title':''},
{'name':'店铺管理','href':'###','title':''},
{'name':'店铺基本设置'}
]}" />

<form class="form-horizontal">
    <div class="sectionWrap-A5">
        <div class="p15">
            <div class="sectionForm-A1 sectionForm-A1-1 sectionForm-A1-1-1">
                <ul>
                    <li class="clear mb10">
                        <label class="L">展厅图片：<span class="warning">*</span></label>
                        <div class="sectionBox-A8 sectionBox-A8-1 L">
                            <div class="border">
                                <img src="" width="" height="" alt=""/>
                                <div class="p10">
                                    上传360度全景展厅图片
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="sectionForm-A1-1 sectionForm-A1-1-1 mb10">
                <ul>
                    <li class="clear button-A">
                        <label class="L"></label>
                        <input class="btn btn-default L mr5 ml5" type="button" value="上传图标">
                        <div class="sectionMessage-A1 sectionMessage-A1-1 L">
                            <p class="border">
                                文件格式GIF、JPG、JPEG、PNG文件大小5K以内
                            </p>
                        </div>

                    </li>
                </ul>
            </div>

            <div class="sectionForm-A1 sectionForm-A1-1 sectionForm-A1-1-1 mb15">
                <ul>
                    <li class="clear mb5">
                        <label class="L">展厅名称：<span class="warning">*</span></label>
                        <input type="text" class="text name L" value="">
                    </li>
                    <li class="textarea clear">
                        <label class="L">展厅简介：</label>
                        <textarea class="L"></textarea>

                    </li>
                </ul>
            </div>

            <div class="clear mb10 sectionForm-A1 sectionForm-A1-1-1 sectionForm-A2 ml50">
                <button type="submit" class="btn save L mr15">新建房间</button>
                <button type="submit" class="btn btn-cancel L">取消</button>
            </div>
        </div>
    </div>
</form>

