
<#define _PICS_="{{IMAGE}}/imgs_LHH/pics" />
<#define _TITLE_="商品列表" />
<#layout title="_TITLE_" data="{'list':[
{'name':'喜鹊筑家旗舰店','href':'###','title':''},
{'name':'店铺管理','href':'###','title':''},
{'name':'_TITLE_'}
]}" />

<div class="clear mb15">
    <div class="sectionTitle-B2 sectionFloat-A1 L">
        <ul class="clear">
            <li class="first">等待上架的商品</li>
            <li class="cur">全部卖完的商品</li>
            <li class="">等待处理的违规商品</li>
            <li class="">历史商品记录</li>
        </ul>
    </div>
</div>
<form class="form-horizontal">
    <div class="sectionBorder-A3 mb15">
        <div class="sectionBox-A9">
            <div class="p50">
                <div class="sectionForm-A1 sectionForm-A1-1 sectionForm-A1-2 sectionFloat-A1 mb5">
                    <ul class="clear">
                        <li>
                            <label class="L">商品名称：</label>
                            <input type="text" class="text w-160 L" value="">
                        </li>
                        <li>
                            <label class="L">商品型号：</label>
                            <input type="text" class="text w-160 L" value="">
                        </li>
                        <li>
                            <label class="L">商品类目：</label>
                            <select class="L">
                                <option value="">全部栏目</option>
                            </select>
                        </li>
                        <li>
                            <label class="L">品牌名称：</label>
                            <input type="text" class="text w-160 L" value="">
                        </li>


                    </ul>
                </div>
                <div class="sectionForm-A1 sectionForm-A1-1 sectionForm-A1-2 sectionFloat-A1 mb5">
                    <ul class="clear">
                        <li>
                            <label class="L">价格：</label>
                            <div class="w-160 L">
                                <input type="text" class="text name2" value="">
                                <span class="">-</span>
                                <input type="text" class="text name2" value="">
                            </div>
                        </li>
                        <li>
                            <label class="L">总销量：</label>
                            <div class="w-160 L">
                                <input type="text" class="text name2" value="">
                                <span class="">-</span>
                                <input type="text" class="text name2" value="">
                            </div>

                        </li>
                        <li>
                            <label class="L">店铺分类：</label>
                            <select class="L">
                                <option value="">全部分类</option>
                            </select>
                        </li>


                    </ul>
                </div>
                <div class="clear">
                    <div class="R sectionForm-A1 sectionForm-A2">
                        <button type="submit" class="btn save L">查询</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="sectionTable-B1 sectionTable-B1-3">
            <div class="sectionTitle-A4 sectionFloat-A1">
                <ul class="clear">
                    <li class="first col-1">商品信息</li>
                    <li class="col-2">价格</li>
                    <li class="col-3">总库存</li>
                    <li class="col-4">总销量</li>
                    <li class="col-6">发布时间</li>
                    <li class="col-7">最后编辑时间</li>
                    <li class="col-8">操作</li>
                </ul>
            </div>
            <div class="sectionTitle-A5 clear">
                <div class="L">
                    <span class="mr5"><input class="v-negative3" type="checkbox"></span>
                    <strong class="mr25">当前页全选</strong>
                    <span class="sectionForm-A4 topNegative2 mr15">
                    	            <label>批量设置商品数量为</label>
                    	            <input type="text" class="text" value=""> 
                    	        </span>

                    <a href="###" class="linkBlue mr23">上架</a>
                    <a href="###" class="linkBlue">删除</a>
                </div>
                <div class="R">
                    <span class="L mr20">共有 <strong>0</strong> 条记录</span>
                    <div class="sectionPageing-A1 sectionFloat-A1 R">
                        <ul class="clear">
                            <li class="cur first"><a href="###">上一页</a></li>
                            <li class=""><a href="###">下一页</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sectionBox-A10 sectionFloat-A1">
                <ul class="p10 clear">
                    <li class="col-1">
                        <span class="L ml15 mr10"><input class="v-negative3" type="checkbox"></span>
                        <div class="clear sectionBox-A3 L">
                            <img class="L mr15" data-var="tpl" src="_PICS_/img_01.jpg" width="80" height="80" alt="">
                            <div class="sectionBox-A2 sectionBox-A2-1 L linkBlue">
                                <a href="###">极鼎家具</a><br>
                                <a href="###">法式雕花烤漆地柜 2米多抽田园电视柜</a>
                            </div>
                        </div>
                    </li>
                    <li class="col-2 linkRed">550.00</li>
                    <li class="col-3">1110000</li>
                    <li class="col-4">1110000</li>
                    <li class="col-6">2014-07-21<br>15:30</li>
                    <li class="col-7">2014-07-21<br>15:30</li>
                    <li class="col-8 linkBlue"><a href="###">编辑商品</a><br><a href="###">复制链接</a></li>
                </ul>
            </div>
            <div class="sectionBox-A10 sectionFloat-A1">
                <ul class="p10 clear">
                    <li class="col-1">
                        <span class="L ml15 mr10"><input class="v-negative3" type="checkbox"></span>
                        <div class="clear sectionBox-A3 L">
                            <img class="L mr15" data-var="tpl" src="_PICS_/img_01.jpg" width="80" height="80" alt="">
                            <div class="sectionBox-A2 sectionBox-A2-1 L linkBlue">
                                <a href="###">极鼎家具</a><br>
                                <a href="###">法式雕花烤漆地柜 2米多抽田园电视柜</a>
                            </div>
                        </div>
                    </li>
                    <li class="col-2 linkRed">550.00</li>
                    <li class="col-3">1110000</li>
                    <li class="col-4">1110000</li>
                    <li class="col-6">2014-07-21<br>15:30</li>
                    <li class="col-7">2014-07-21<br>15:30</li>
                    <li class="col-8 linkBlue"><a href="###">编辑商品</a><br><a href="###">复制链接</a></li>
                </ul>
            </div>

        </div>


    </div>


    <div class="sectionPageing-A2 clear">
        <div class="L sectionNote-A1">
            <p>
                <strong>备注：</strong>
                您可以将希望上架出售的宝贝打勾，然后按“<a href="###" class="linkRed">上架</a>”的确认键， 您的宝贝马上就会和大家见面了。
            </p>
        </div>
        <div class="R">
            <include repeat="" tp-data=""  file="{{LAM.COMPONENTS}}/paging.html"></include>
        </div>
    </div>


</form>

<script type="text/javascript">
    LAM.run([jQuery],function($) {
        'use strict';
        var System = this;
        $(function(){

            new System.Tab({
                'list':$('.sectionTitle-B2 li'),
                'or':true,
                'event':'click',
                'class':'cur'
            }).run();

            var tools =new System.Tools();

            $('.sectionTitle-A5 [type="checkbox"]').on('click',function () {
                tools.checkboxSelectAll($('.sectionBox-A10 [type="checkbox"]'),this);

            });






        });
    });
</script>